input {
    width: 100%;
    padding: 5px;
}
.form-button {
  margin-top: 30px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.custom-list {
    font-size: 2rem;
}
.custom-container {
    margin-top: 20px;
}
.dark-blue-text {
    color: #00008B;
}

.btn-edit {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
}
